* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

/* CONTAINER */
.container {
    display: grid;
    /* grid-template-columns: min(23%, 300px) auto; */
    grid-template-columns: clamp(200px, 250px, 23%) auto;
    grid-template-rows: auto auto;

}

/* SIDEBAR */
.sidebar {
    grid-row: 1/3;
    background-color: #1992D4;
    padding: 10%;
    min-height: 100vh;
}

.sidebar__logo {
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 45px;
}

.sidebar__logo img {
    height: 36px;
    filter: invert(100%);
}

.sidebar__nav ul {
    list-style-type: none;
    margin-left: 8px;
}

.sidebar__nav:last-child {
    margin-top: 60px;
}

.sidebar__elem {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 550;

    margin-left: 0;
    margin-bottom: 20px;
}

.sidebar__elem img {
    height: 25px;
    filter: invert(100%);
}

/* HEADER */

.header {
    grid-row: 1/2;
    padding: 17px 5% 38px 4%;

}

.header__top {
    display: flex;
    align-items: center;
    gap: 11%;
    margin-bottom: 35px;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.header__search-img {
    height: 20px;
}

.header__search-input {
    border: none;
    background-color: #E2E8F0;
    border-radius: 40vh;
    padding: 5px 10px;
    width: 200px;
    outline: none;
    height: 30px;
    flex: 1 1 auto;
}

.header__profile {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 30px;
}

.avatar {
    height: 48px;
    border-radius: 50vh;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8%;
}

.header__greeting {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 12px;
}

.header__big-avatar {
    height: 70px;
    border-radius: 50vh;
}

.header__text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 550;
}

.header__username {
    font-size: 18px;
    font-weight: 600;
}

.header__buttons {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;

}

.header__btn {
    border-radius: 40vh;
    background-color: #1992D4;
    color: white;
    padding: 10px 23px;
    font-weight: 600;
    font-size: 16px;
}

/* MAIN */

.main {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: auto clamp(300px, 400px, 23%);
    row-gap: 20px;
    column-gap: 40px;
    background-color: #E2E8F0;

    padding: 35px 30px 60px 20px;
}

/* ARTICLE */

.article {
    grid-column: 1/2;
}

.article__h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.article__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: 1fr;
    row-gap: 30px;
    column-gap: 25px;
}

.article__card {
    background-color: #fff;
    padding: 30px 30px 20px 20px;
    border-radius: 8px;
    border-left: #F0B429 8px solid;

    display: flex;
    flex-direction: column;
}

.article__h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.article__description {
    font-size: 12px;
    color: #636363;
    margin-bottom: 20px;
    flex-grow: 1;
    max-width: max(80%, 350px);
}


.article__options {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.article__options svg {
    height: 20px;
}

/* ANNOUNCEMENTS */
.announcements {
    grid-column: 2/3;
}

.announcements__h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.announcements__container {
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 8px;
}

.announcements__card {}

.announcements__h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.announcements__description {
    font-size: 12px;
    color: #636363;
    max-width: max(70%, 350px);
    /*
    overflow: hidden;
    text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Задайте количество строк, которое вы хотите отобразить */
    /*-webkit-box-orient: vertical; */

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    line-clamp: 3;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.announcements__hr {
    color: #D2D2D2;
    margin: 20px 0;
}

/* TRENDING */